
# Los siguientes usuarios pueden modificar libremente la carpeta Equip_G
/Equip_G/ @eleternoaprendiz @LoFloAb @damcaravelli @edoardobrega @Storkower  

# Los siguientes usuarios pueden modificar libremente la carpeta Equip_10
/Equip_10/ @aleix-gb @FatimaMoshayedi @Isanagui1818 @Giusebuompane @Eknmet

# Los siguientes usuarios pueden modificar libremente la carpeta Equip_9
/Equip_9/ @FEC1 @Muriburu @RaquelLimpo @DigitalBlasco @Luciatrinidad
